<div class='container-fluid mt-3'>
  <%= link_to "Go Back Home", root_path %>
    <div class='row pt-4 justify-content-center'>
        <div class='col-4-sm pl-3 pr-3'>
            <div class="card border-0">
                <div class="card-body">

	            <div class='row justify-content-center'>
	        	<div class="col">

                            <h1>
                                <%= @person.username %>'s Profile
                            </h1>
	        
                            <p>
                                <strong>First Name:</strong>
                                <%= @person.firstname %>
                            </p>

                            <p>
                                <strong>Last Name:</strong>
                                <%= @person.lastname %>
                            </p>

                            <% if @is_current_user %>

                                <p>
    			            <strong>Street Address:</strong>
                                    <%= @person.address %>
                                </p>

                                <p>
                                    <strong>City:</strong>
                                    <%= @person.city %>
                                </p>

                                <p>
                                    <strong>Country:</strong>
                                    <%= @person.country %>
                                </p>

                            <% else %>

                                <p>
                                    <strong>Email:</strong>
                                    <%= User.find_by_id(@person.user_id).email %>
                                </p>

                            <% end %>

                            <p>
                                <strong>Telephone:</strong>
                                <%= @person.telephone %>
                            </p>

                        </div>
                    </div>

                    <% if @is_current_user %>
                        <%= link_to 'Edit Profile', edit_person_path %>
                    <% elsif @is_current_user_friend %>
                        <%= link_to "Remove Friend", remfd_friend_path(@friend.id) %>
                    <% elsif @has_requested %>
                        <%= link_to "Remove Request", remrd_friend_path(@friend.id) %>
                    <% elsif @has_received %>
                        <%= link_to "Accept Friend Request", acceptd_friend_path(@friend.id) %>&nbsp|
                        <%= link_to "Reject Friend Request", rejectd_friend_path(@friend.id) %>
                    <% else %>
                        <%= link_to "Send Friend Request", sendfd_friend_path(@person.user_id) %>&nbsp|
                        <%= link_to "Block User", ablockd_friend_path(@person.user_id) %>
                    <% end %>

                </div>
            </div>
        </div>
    </div>
</div>
