<h1>Your Personal Home</h1>
<%= link_to 'Set Session', personal_home_set_cookies_path %>
<%= link_to "Log Out", logout_path, method: :delete%>
<table>
    <tr><td>User Name:</td><td><%= @user_id %></td></tr>
</table>

<table>
    <tr>
      <th>Transaction ID</th>
      <th>Item ID</th>
      <th>Borrow from User ID</th>
      <th>Lend to User ID</th>
      <th>Start Date</th>
      <th>Due Date</th>
      <th>Deposit</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
 
    <% @your_transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.id %></td>
        <td><%= transaction.item_id %></td>
        <td><%= transaction.borrow_from_user_id %></td>
        <td><%= transaction.lend_to_user_id %></td>
        <td><%= transaction.start_date %></td>
        <td><%= transaction.due_date %></td>
        <td><%= transaction.deposit %></td>
        <td><%= transaction.status %></td>
        <td><%= link_to 'Show', transaction_path(transaction) %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction_path(transaction),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</table>

