<!--
<%= link_to "Home", root_path%>
<%= link_to "About Me", home_about_path%>
<%= link_to "Log Out", logout_path, method: :delete%>
-->

<%= render "layouts/header" %>

<div class="w3-light-grey">
    <div class="w3-third">

        <h1>Hello <%= @user.username %></h1>

        <table>
            <tr><td>User ID:</td><td><%= @your_ratings.size %></td></tr>
            <tr><td>Your current email:</td><td><%= @user.email %></td></tr>
            <tr><td>Your current average rating:</td><td><%= @rating_average %></td></tr>
        </table>
    </div>

    <div class="w3-twothrid">
        <h2>Your Transactions</h2>
        <table>
            <tr>
              <th>Transaction ID</th>
              <th>Item ID</th>
              <th>Borrow from User ID</th>
              <th>Lend to User ID</th>
              <th>Start Date</th>
              <th>Due Date</th>
              <th>Deposit</th>
              <th>Status</th>
              <th colspan="3"></th>
            </tr>
         
            <% @your_transactions.each do |transaction| %>
              <tr>
                <td><%= transaction.id %></td>
                <td><%= transaction.item_id %></td>
                <td><%= transaction.borrow_from_user_id %></td>
                <td><%= transaction.lend_to_user_id %></td>
                <td><%= transaction.start_date %></td>
                <td><%= transaction.due_date %></td>
                <td><%= transaction.deposit %></td>
                <td><%= transaction.status %></td>
                <td><%= link_to 'Show', transaction_path(transaction) %></td>
                <!--
                <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
                <td><%= link_to 'Destroy', transaction_path(transaction),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
                -->
              </tr>
            <% end %>
        </table>

        <h2>Your Friends</h2>
    </div>
</div>

<%= render "layouts/footer" %>
