
<%= render "layouts/single_header" %>

<div class="w3-light-grey" style="margin-top:77px; margin-bottom: 16px; max-width: 1400px;">
    <div class="w3-row-padding">
        <div class="w3-third">
            <div class="w3-card-4">
                <div class="w3-display-container">
                    <%= image_tag("/assets/test_profile.jpg", size:"350x233", style:'width: 100%;') %>
                </div>

                <h1 class="w3-padding-16">Welcome <%= @person.username %></h1>
                <p><i class="fa fa-user-circle fa-fw w3-margin-right w3-large w3-text-teal"></i><%=@person.firstname%> <%=@person.lastname%></p>
                <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i><%=@user.email%></p>
                <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i><%=@person.telephone%></p>
                <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i><%=@person.address%></p>
                <p><i class="fas fa-map-marker fa-fw w3-margin-right w3-large w3-text-teal"></i><%=@person.city%>, <%= @person.country%></p>
              <p> <%= link_to "Edit Profile", edit_person_path(@person)%></p>
              <p> <%= link_to "Change Password Or Destroy Account", edit_user_registration_path%></p>
            </div>
            <br>
            <div class="w3-card-4">

                <h1 class="w3-padding-16">Notifications</h1>
                <% unless @notifications.blank? %>
                <%= link_to "Mark all as seen", mall_phome_path %><br>
                <table>
                  <tr>
                    <th>All your notifications</th>
                    <th>Seen</th>
                  </tr>
                  <% @notifications.each do |f| %>
                    <tr>
                      <td><%= f.message %></td>
                      <td><%= link_to "OK", mone_phome_path(f.id) %></td>
                    </tr>
                  <% end %>
                </table><br><br>
                <% else %>
                  <br><i>There are no notifications to display.</i>
                  <br><br>
                <% end %>

            </div>
        </div>

        <div class="w3-twothird">
            <div class="w3-card" style="margin-bottom:16px !important; min-height: 300">
                <h2 class="w3-padding-16"><i class="fa fa-fw fa-sign-out w3-margin-right w3-text-teal"></i>Recent Lending</h2>
                <%= link_to "Post New Item", new_item_path %>
                <% if @lend.size != 0 %>
                    <table>
                        <tr>
                          <th>Transaction ID</th>
                          <th>Item Name</th>
                          <th>Borrower</th>
                          <th>Start Date</th>
                          <th>Due Date</th>
                          <th>Deposit</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                     
                        <% @lend.each do |transaction| %>
                          <tr>
                            <td><%= transaction.id %></td>
                            <td><%= transaction.item.name %></td>
                            <td><%= transaction.user.person.username %></td>
                            <td><%= transaction.start_date %></td>
                            <td><%= transaction.due_date %></td>
                            <td><%= transaction.deposit %></td>
                            <td><%= transaction.status %></td>
                            <% if transaction.status == 'pending' %>
                              <td><%= link_to 'Accept', transaction_path(transaction, status: 'accepted'),
                                              method: :patch,
                                              data: { confirm: 'Are you sure to accept this transaction?' }
                              %> | <%= link_to 'Reject', transaction_path(transaction, status: 'rejected'),
                                              method: :patch,
                                              data: { confirm: 'Are you sure to reject this transaction?' }
                              %></td>
                            <% end %>
                            <% if transaction.status == 'accepted' %>
                              <td><%= link_to 'Detail', item_path(transaction.item.id) %></td>
                            <% end %>
                            <% if transaction.status == 'returned' %>
                              <td><%= link_to 'Close', transaction_path(transaction, status: 'closed'),
                                              method: :patch,
                                              data: { confirm: 'Are you sure to close this transaction?' }
                              %></td>
                            <% end %>
                            <% if transaction.status == 'closed' %>
                              <td><%= link_to 'Detail', item_path(transaction.item.id) %></td>
                            <% end %>
                          </tr>
                        <%end%>
                    </table>
                <%else%>
                      <br><i>You didn't lend anything recently.</i>
                      <br><br>
                <%end%>
            </div>

            <div class="w3-card" style="margin-bottom:16px !important; min-height: 300">
                <h2 class="w3-padding-16"><i class="fa fa-fw fa-sign-in w3-margin-right w3-text-teal"></i>Recent Borrowing</h2>
                <%= link_to "Borrow Now", root_path %>
                <% if @borrow.size != 0 %>
                    <table>
                        <tr>
                          <th>Transaction ID</th>
                          <th>Item Name</th>
                          <th>Owner</th>
                          <th>Start Date</th>
                          <th>Due Date</th>
                          <th>Deposit</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                     
                        <% @borrow.each do |transaction| %>
                          <tr>
                            <td><%= transaction.id %></td>
                            <td><%= transaction.item.name %></td>
                            <td><%= transaction.item.person.username %></td>
                            <td><%= transaction.start_date %></td>
                            <td><%= transaction.due_date %></td>
                            <td><%= transaction.deposit %></td>
                            <td><%= transaction.status %></td>
                            <% if transaction.status == 'pending' %>
                              <td><%= link_to 'Detail', item_path(transaction.item.id) %></td>
                            <% end %>
                            <% if transaction.status == 'accepted' %>
                              <td><%= link_to 'Return', transaction_path(transaction, status: 'returned'),
                                              method: :patch,
                                              data: { confirm: 'Are you sure you have returned the item?' }
                              %></td>
                            <% end %>
                            <% if transaction.status == 'returned' %>
                              <td><%= link_to 'Detail', item_path(transaction.item.id) %></td>
                            <% end %>
                            <% if transaction.status == 'closed' %>
                              <td><%= link_to 'Detail', item_path(transaction.item.id) %></td>
                            <% end %>
                          </tr>
                        <%end%>
                    </table>
                <%else%>
                      <br><i>You didn't borrow anything recently.</i>
                      <br><br>
                <%end%>
            </div>
            
            <div class="w3-card">
                <h2 class="w3-padding-16"><i class="fa fa-fw fa-users w3-margin-right w3-text-teal"></i>Friend Requests</h2>
                <%= link_to "Add New Friend", new_friend_path%>
                <% unless @awaitfriends.blank? %>
                    <tr><table>
                      <tr>
                        <th>Username</th>
                        <th>Received on</th>
                        <th>Options</th>
                      </tr>
                      <% @awaitfriends.each do |f| %>
                        <tr>
                          <td><%= f["username"] %></td>
                          <td><%= f["drecv"] %></td>
                          <td>
                            &nbsp<%= link_to "Accept", accept_friend_path(f["id"]) %>&nbsp|
                            <%= link_to "Reject", reject_friend_path(f["id"]) %>&nbsp
                          </td>
                        </tr>
                      <% end %>
                    </table></tr>
                    <% else %>
                      <br><i>You currently don't have pending received friend requests</i>
                      <br><br>
                    <% end %>

            </div>
        </div>
    </div>
</div>

<%= render "layouts/footer" %>

<style>
table{
    border: solid 1px;
    width:100%;
}

td{
    border: solid 1px;
    width: auto;
    text-align: center;
}

th{
    border: solid 1px;
    width: auto;
    text-align: center;
}

a{
    color: #f9be37;
}

</style>
