<div class='container-fluid mt-5'>
  <div class='row justify-content-center'>
    <div class='col-sm-5'>
      <div class="card">
        <div class="card-body">
          <h2>How is the experience?</h2>
          <i>Rate your overall experience with this transactions.</i>
            <%= form_with model: @rating, local: true do |form| %>
              <% if @rating.errors.any? %>
                <div id="error_explanation">
                  <h2>
                    <%= pluralize(@rating.errors.count, "error") %> prohibited
                    this rating from being saved:
                  </h2>
                  <ul>
                    <% @rating.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <%= hidden_field_tag :rater, params[:rating_user_id] %>
              <%= hidden_field_tag :ratee, params[:ratted_user_id] %>
              <%= hidden_field_tag :transaction_id, params[:transaction_id] %>

              <p>
                <%= form.label :score, "Score:" %><br>
                <%= form.select :score, (1..5) %>
              </p>

              <p>
                <%= form.submit %>
              </p>
              <%= link_to "I don't want to rate", personal_home_index_path %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

