<%= link_to "Home", root_path%>
<%= link_to "About Me", home_about_path%>
<%= link_to "Log In", login_path%>
<%= link_to "Sign Up", signup_path%>
<%= link_to "Personal Home", controller: 'personal_home'%>
<%= link_to 'Transaction', controller: 'transactions' %>
<%= link_to 'Items', controller: 'items' %>

<h1>This is Edit</h1>
