<%= link_to "Home", root_path%>&nbsp&nbsp
<%= link_to "About Me", home_about_path%>&nbsp&nbsp
<%= link_to "Personal Home", controller: 'personal_home'%>&nbsp&nbsp
<%= link_to 'Transaction', controller: 'transactions' %>&nbsp&nbsp
<%= link_to 'Items', controller: 'items' %>&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp <%= link_to "Log Out", logout_path, method: :delete%>

<h1>Here you can see all your friends</h1>
By the moment, it is showing all friend resquest of everyone<br>
User currently logged in is : <%= @user %> <br><br>

<table border="1">
  <tr>
    <th>Requester</th>
    <th>Requestee</th>
    <th>Accepted?</th>
  </tr>
  <% @friends.each do |entry| %>
    <tr>
      <td><%= entry.user_from_id %></td>
      <td><%= entry.user_to_id %></td>
      <td><%= entry.has_accepted %></td>
    </tr>
  <% end %>
</table><br>

<%= link_to "Add New Friend", new_friend_path%><br>
<%= link_to "Manage Friend Requests", manage_friends_path%>
