<style>
.floatLeft { 
  width: 50%;
  float: left;
}
.floatRight {
  width: 50%;
  float: right;
}
.container {
  overflow: hidden;
}
table, th, td {
  border: 1px solid black;
}
caption {
  caption-side:top;
}
</style>

<%= render "layouts/single_header" %>

<div class="w3-card" style="margin-top:100px">
  <div style="overflow-x:auto;">
    <h2 class="w3-padding-16"><i class="fa fa-fw fa-users w3-margin-right w3-text-teal"></i>My Friends</h2>

<div class="container">
<br><%= link_to "Find New Users", new_friend_path%>&nbsp&nbsp&nbsp
<%= link_to "Blocked Users", manage_friends_path%><br>

<div class="floatLeft">
<% unless @myfriends.blank? %>
  <tr><table>
    <caption><font color="gray" size="6"><b>My Friends</b></font></caption>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Friends since</th>
      <th>Options</th>
    </tr>
    <% @myfriends.each do |f| %>
      <tr>
        <td><%= f["uname"] %></td>
        <td><%= f["fuser"] %></td>
        <td><%= f["fsince"] %></td>
        <td>&nbsp<%= link_to "Remove Friend", remf_friend_path(f["ftid"]) %>&nbsp</td>
      </tr>
    <% end %>
  </table></tr>
<% else %>
  <font color="gray" size="5"><b>My Friends</b></font>
  <br><i>You currently don't have friends</i>
<% end %>
</div>

<div class="floatRight">
<% unless @pendfriends.blank? %>
<tr><table>
  <caption><font color="gray" size="5"><b>Pending Requests</b></font></caption>
  <tr>
    <th>Username</th>
    <th>Sent on</th>
    <th>Options</th>
  </tr>
  <% @pendfriends.each do |f| %>
    <tr>
      <td><%= f["username"] %></td>
      <td><%= f["dsend"] %></td>
      <td>&nbsp<%= link_to "Remove Request", remr_friend_path(f["id"]) %>&nbsp</td>
    </tr>
  <% end %>
</table></tr><br>
<% else %>
  <font color="gray" size="5"><b>Pending Requests</b></font>
  <br><i>You currently don't have pending sent friend requests</i>
  <br><br>
<% end %>

<% unless @awaitfriends.blank? %>
<tr><table>
  <caption><font color="gray" size="5"><b>Awaiting Response</b></font></caption>
  <tr>
    <th>Username</th>
    <th>Received on</th>
    <th>Options</th>
  </tr>
  <% @awaitfriends.each do |f| %>
    <tr>
      <td><%= f["username"] %></td>
      <td><%= f["drecv"] %></td>
      <td>
        &nbsp<%= link_to "Accept", accept_friend_path(f["id"]) %>&nbsp|
        <%= link_to "Reject", reject_friend_path(f["id"]) %>&nbsp    
      </td>
    </tr>
  <% end %>
</table></tr>
<% else %>
  <font color="gray" size="5"><b>Awaiting Response</b></font>
  <br><i>You currently don't have pending received friend requests</i>
  <br><br>
<% end %>

</div>

</div>
<br><br>
  </div>
</div>

<%= render "layouts/footer" %>
