<style>
.floatLeft { 
  width: 50%;
  float: left;
}
.floatRight {
  width: 50%;
  float: right;
}
.container {
  overflow: hidden;
}
table, th, td {
  border: 1px solid black;
}
caption {
  caption-side:top;
}
</style>

<%= render :partial => "layouts/header", :locals => {:title => "Blocked Users"}  %>

<br><div class="container">
  <font size="5"><b>Blocking or being blocked by an user will result in the following:</b></font><br>
  <ul>
    <li>You will not be able to search for the user</li>
    <li>You will not be able to befriend the user</li>
    <li>You will not be able to see items the user has posted</li>
    <li>You will not be able to make transactions with the user</li>
  </ul>
</div>

<div align="center">

<% unless @blockfriends.blank? %>
<font color="gray" size="6"><b>Blocked users</b></font>
<table>
  <tr>
    <th>Username</th>
    <th>Blocked since</th>
    <th>Actions</th>
  </tr>
  <% @blockfriends.each do |f| %>
    <tr>
      <td><%= f["username"] %></td>
      <td><%= f["fsince"] %></td>
      <td><%= link_to "Remove from list", rblock_friend_path(f["id"]) %></td>
    </tr>
  <% end %>
</table><br>
<% else %>
<font color="gray" size="5"><i>You don't have blocked users :)</i></font>
<% end %>

</div><br>


<%= render "layouts/footer" %>
