<style>
.floatLeft { 
  width: 50%;
  float: left;
}
.floatRight {
  width: 50%;
  float: right;
}
.container {
  overflow: hidden;
}
table, th, td {
  border: 1px solid black;
}
caption {
  caption-side:top;
}
</style>

<%= render :partial => "layouts/header", :locals => {:title => "Search Users"}  %>

<br><div align="center">

<%= form_tag("/search_friend", method: "get") do %>
  <%= label_tag(:field, "Search for user:") %>&nbsp
  <%= text_field_tag(:field,value=nil, maxlength: 16, placeholder: ' eg: username123', style: 'width: 30%') %>&nbsp&nbsp
  <%= submit_tag("Search",style: 'width: 20%') %>
<% end %><br>

<% if @results != 0 %>
<% unless @results.blank? %>
<h2>Search results for "<%= params[:field] %>"</h2>
<table border="1">
  <tr>
    <th>Username</th>
    <th>Actions</th>
  </tr>
  <% @results.each do |f| %>
    <tr>
      <td><%= f["username"] %></td>
      <td><%= link_to "Send Friend Request", sendf_friend_path(f["id"]) %></td>
    </tr>
  <% end %>
</table><br>
<% else %>
<font color="gray" size="5"><i>User "<%= params[:field] %>" was not found</i></font>
<% end %>
<% end %>

</div>

<div class="container">
  <font size="5"><b>User(s) may not appear on the search results for the following reasons:</b></font><br>
  <ul>
    <li>The user does not exist</li>
    <li>The user you are looking for is yourself</li>
    <li>The user is in your friend list</li>
    <li>The user has receive your friend request (or viceversa)</li>
    <li>The user has blocked you (or viceversa)</li>
  </ul>
</div><br>

<%= render "layouts/footer" %>
