<%= link_to "Home", root_path%>
<%= link_to "About Me", home_about_path%>
<%= link_to "Log Out", logout_path, method: :delete%>
<%= link_to "Sign Up", signup_path%>

<% provide(:title, @user.username) %>
<h1>
    <%= gravatar_for @user %>
    <%= @user.username %>
</h1>
