<%= link_to "Home", root_path%>
<%= link_to "About Me", home_about_path%>
<%= link_to "Log In", home_login_path%>
<%= link_to "Sign Up", home_signup_path%>
<%= link_to "Personal Home", home_personal_home_path%>
<%= link_to 'Transaction', controller: 'transactions' %>

<h1>Welcome to BoLend!</h1>
<p>Borrow or lend?</p>
