<% if defined?(item.image_link) && item.image_link && item.image_link!=""%>
  <div class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(<%= item.image_link %>);"></div>
<% else %>
  <div class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url('/assets/default.jpg');"></div>
<%end %>
<div class="text p-3">
  <div class="d-flex">
    <div class="one">
      <% if type != "show" %>
        <h3 style="height: 50px;"><%= link_to item.name, item_path(item.id) %> </h3>
      <%end %>

      <% if !@itemRatings[item.id]%>
        <p class="rate">
          <i class="icon-star-o"></i>
          <i class="icon-star-o"></i>
          <i class="icon-star-o"></i>
          <i class="icon-star-o"></i>
          <i class="icon-star-o"></i>
          <span>0 Rating</span>
        </p>
      <% else %>
        <% if @itemRatings[item.id].ceil == 1%>
          <p class="rate">
            <i class="icon-star"></i>
            <i class="icon-star-o"></i>
            <i class="icon-star-o"></i>
            <i class="icon-star-o"></i>
            <i class="icon-star-o"></i>
        <% end %>
        <% if @itemRatings[item.id].ceil == 2 %>
          <p class="rate">
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star-o"></i>
            <i class="icon-star-o"></i>
            <i class="icon-star-o"></i>
        <% end %>
        <% if @itemRatings[item.id].ceil == 3 %>
          <p class="rate">
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star-o"></i>
            <i class="icon-star-o"></i>
        <% end %>
        <% if @itemRatings[item.id].ceil == 4 %>
          <p class="rate">
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star-o"></i>
        <% end %>
        <% if @itemRatings[item.id].ceil == 5 %>
          <p class="rate">
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
        <% end %>
        <span><%= @itemRatingsCount[item.id] %> Ratings</span>
        </p>
      <% end %>
    </div>
    <div class="two">
      <span class="price per-price">Deposit $<%= item.deposit %>
        <% if type == "user" && item.is_available?%>
          <br><%= link_to "Edit", edit_item_path(item.id) %>
        <% end %>
      </span>
    </div>
  </div>
  <p style="max-height: 50px;"><%= item.description %></p>
  <hr>
  <p class="bottom-area d-flex">
    <% if (item.person.user_id == current_user.id) %>
      <% if item.is_available?  %>
        <span>Status: Available</span>
      <% else %>
        <span>Status: Unavailable</span>
      <%end %>
    <% else %>
      <span><i class="icon-map-o"></i><%= item.person.city %></span>
    <% end %>
    <% if type == "user" && item.is_available?%>
    <span class="ml-auto"><%= link_to "Remove", remove_item_path(item.id) %></span>
    <% end %>
    <% if type == "search" %>
      <span class="ml-auto"><%= link_to "View Details", item_path(item.id) %></span>
    <% end %>
    <% if type == "show" and (item.is_available) and (item.person.user_id != current_user.id) %>
      <span class="ml-auto"><%= link_to "Borrow Now", borrow_item_path(@item.id) %></span>
    <% end %>
    <% if type == "admin" %>
      <span class="ml-auto"><%= link_to "Remove", remove_item_path(item.id) %></span>
    <% end %>
  </p>
</div>