<%= render "layouts/single_header" %>

<div class="w3-card" style="margin-top:100px">
  <div style="overflow-x:auto;">
    <h2 class="w3-padding-16"><i class="fa fa-fw fa-shopping-bag w3-margin-right w3-text-teal"></i>Showing All User Items (<%= @items.count %>)</h2>

<% if @items.count == 0 %>
  <br>
  <br>
  <h2 style="padding-left: 35%;padding-right: 35%;"></h2>
  <section class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section text-center">
          <h4><b>Sorry, no results found for "<%= @parameter %>"</b></h4>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <%= render "layouts/more_items"%>
  <br>

<% else %>

  <section class="ftco-section">
    <div class="container">
          <div class="row">
            <% @items.each do |item| %>

              <div class="col-sm col-md-6 col-lg-4">
                <div class="destination">
                  <% if current_user.person.username == "admin" %>
                    <%= render :partial => "items/show_single_item", :locals => {:item => item, :type => "admin"}%>
                  <% else %>
                    <%= render :partial => "items/show_single_item", :locals => {:item => item, :type => "search"}%>
                  <% end %>
                </div>
              </div>

            <% end %>

          </div>

    </div>
  </section>
<% end %>
  </div>
</div>

<%= render "layouts/footer" %>