<%= render "layouts/header" %>

<%= render "layouts/search_bar" %>

<section class="ftco-section">
<div>
<h1>Showing All Items</h1>

<table>
  <tr>
    <th>ID</th>
    <th>User ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Deposit</th>
    <th>Removed?</th>
    <th>Image Link?</th>

    <th>Edit</th>
    <th>Remove</th>
  </tr>

  <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.person_id %></td>
      <td><%= link_to item.name, item_path(item.id) %></td>
      <td><%= item.description %></td>
      <td><%= item.deposit %></td>
      <td><%= item.is_deleted %></td>
      <td><%= item.image_link %></td>

      <td><%= link_to "Edit", edit_item_path(item.id) %></td>
      <td><%= link_to "Remove", remove_item_path(item.id) %></td>
    </tr>
  <% end %>
</table>

<br>

</div>
</section>
<%= render "layouts/footer" %>
