<h1>Showing All Items</h1>

<%= link_to "Post a New Item", new_item_path %>
<br>
<br>

<%= form_tag(search_path, :method => "get", :class => "search_button") do %>
    <%= search_field_tag :search, params[:search], placeholder: "Search" %>
      <%= button_tag "Search",:name => nil%>
<% end %>

<br>

<table>
  <tr>
    <th>ID</th>
    <th>User ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Deposit</th>
    <th>Removed?</th>
    <th>Edit</th>
    <th>Remove</th>
  </tr>

  <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.user_id %></td>
      <td><%= link_to item.name, item_path(item.id) %></td>
      <td><%= item.description %></td>
      <td><%= item.deposit %></td>
      <td><%= item.is_deleted %></td>

      <td><%= link_to "Edit", edit_item_path(item.id) %></td>
      <td><%= link_to "Remove", remove_item_path(item.id) %></td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to "Back to Home Page", root_path %>


