<%= render :partial => "layouts/header", :locals => {:title => "Search Results"}%>

<%= render "layouts/search_bar" %>

<% if @results.count == 0 %>
  <br>
  <br>
  <h2 style="padding-left: 35%;padding-right: 35%;"></h2>
  <section class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section text-center">
          <h4><b>Sorry, no results found for "<%= @parameter %>"</b></h4>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <%= render "layouts/more_items"%>
  <br>

<% else %>
  <section class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section text-center">
          <% if @parameter.blank? %>
            <h4><b>Showing all <%= @results.size  %> items</b></h4>
          <% else %>
            <h4><b>Showing <%= @results.size  %> results for "<%= @parameter  %>" </b></h4>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section">
    <div class="container">
      <div class="row">
        <% @results.each do |item| %>
          <div class="col-sm col-md-6 col-lg-4">
            <div class="destination">
              <%= render :partial => "items/show_single_item", :locals => {:item => item, :type => "search"}%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
<% end %>

<%= render "layouts/footer" %>