<%= render :partial => "layouts/header", :locals => {:title => "Search Results"}%>

<section class="ftco-section justify-content-end ftco-search">
  <div class="container-wrap ml-auto">
    <div class="row no-gutters">
      <div class="col-md-12 nav-link-wrap">
        <div class="nav nav-pills justify-content-center text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Borrow</a>


        </div>
      </div>
      <div class="col-md-12 tab-wrap">

        <div class="tab-content p-4 px-5" id="v-pills-tabContent">

          <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
            <%= form_tag(search_path, :method => "get", :class =>"search-destination") do %>
              <div class="row">
                <div class="col-md align-items-end">
                  <div class="form-group">
                    <label for="#">Borrow</label>
                    <%= search_field_tag :search, params[:search], placeholder: "Search for anything...", class: "form-control" %>
                  </div>
                </div>
                <div class="col-md align-items-end">
                  <div class="form-group">
                    <label for="#">Where</label>
                    <%= search_field_tag :location, params[:location], placeholder: "Where", class: "form-control" %>
                  </div>
                </div>
                <div class="col-md align-self-end">
                  <div class="form-group">
                    <div class="form-field">
                      <input type="submit" value="Search" class="form-control btn btn-primary">
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% if @results.count == 0 %>
  <br>
  <br>
  <h2 style="padding-left: 35%;padding-right: 35%;"><b>Sorry, no results found for "<%= @parameter %>"</b></h2>
  <br>
  <br>
  <%= render "layouts/more_items"%>
  <br>

<% else %>
  <section class="ftco-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 sidebar order-md-last">

          <div class="sidebar-wrap">
            <h3 class="heading mb-4">Star Rating</h3>
            <form method="post" class="star-rating">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">
                  <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></p>
                </label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">
                  <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i></span></p>
                </label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">
                  <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
                </label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">
                  <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
                </label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">
                  <p class="rate"><span><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
                </label>
              </div>
            </form>
          </div>
        </div><!-- END-->


        <div class="col-lg-9">
          <div class="row">

    <% @results.each do |item| %>

      <div class="col-sm col-md-6 col-lg-4">
        <div class="destination">

          <div class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url('/assets/default.jpg');">
          </div>
          <div class="text p-3">
            <div class="d-flex">
              <div class="one">
                <h3><%= link_to item.name, item_path(item.id) %></h3>
                <p class="rate">
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star-o"></i>
                  <span>8 Rating</span>
                </p>
              </div>
              <div class="two">
                <span class="price per-price"><%= item.deposit %><br></span>
              </div>
            </div>
            <p><%= item.description %></p>
            <hr>
            <p class="bottom-area d-flex">
              <span><i class="icon-map-o"></i> Toronto, ON</span>
              <span class="ml-auto"><%= link_to 'Borrow Now', item_path(item.id) %></span>
            </p>
          </div>
        </div>
      </div>


  <% end %>

  </div></div></div></div></section>
<% end %>

<%= render "layouts/footer" %>