<%= render :partial => "layouts/header", :locals => {:title => "Search Results"}%>

<%= render "layouts/search_bar" %>

<% if @results.count == 0 %>
  <br>
  <br>
  <h2 style="padding-left: 35%;padding-right: 35%;"></h2>
  <section class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section text-center">
          <h4><b>Sorry, no results found for "<%= @parameter %>"</b></h4>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <%= render "layouts/more_items"%>
  <br>

<% else %>
  <section class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section text-center">
          <% if @parameter.blank? %>
            <h4><b>Showing all <%= @results.size  %> items</b></h4>
          <% else %>
            <h4><b>Showing <%= @results.size  %> results for "<%= @parameter  %>" </b></h4>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 sidebar order-md-last">

          <div class="sidebar-wrap">
            <h3 class="heading mb-4">Star Rating</h3>
            <form method="post" class="star-rating">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">
                  <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></p>
                </label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">
                  <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i></span></p>
                </label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">
                  <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
                </label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">
                  <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
                </label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">
                  <p class="rate"><span><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
                </label>
              </div>
            </form>
          </div>
        </div>


        <div class="col-lg-9">
          <div class="row">

            <% @results.each do |item| %>

              <div class="col-sm col-md-6 col-lg-4">
                <div class="destination">

                  <% if defined?(item.image_link) && item.image_link && item.image_link!=""%>
                    <div class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(<%= item.image_link %>);"></div>
                  <% else %>
                    <div class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url('/assets/default.jpg');"></div>
                  <%end %>
                  <div class="text p-3">
                    <div class="d-flex">
                      <div class="one">
                        <h3 style="height: 50px;"><%= link_to item.name, item_path(item.id) %></h3>
                        <p class="rate">
                          <i class="icon-star"></i>
                          <i class="icon-star"></i>
                          <i class="icon-star"></i>
                          <i class="icon-star"></i>
                          <i class="icon-star-o"></i>
                          <span>8 Rating</span>
                        </p>
                      </div>
                      <div class="two">
                        <span class="price per-price">Deposit $<%= item.deposit %><br></span>
                      </div>
                    </div>
                    <p style="height: 50px;"><%= item.description %></p>
                    <hr>
                    <p class="bottom-area d-flex">
                      <span><i class="icon-map-o"></i><%= item.user.address %> </span>
                      <span class="ml-auto"><%= link_to 'View Details', item_path(item.id) %></span>
                    </p>
                  </div>
                </div>
              </div>

            <% end %>

          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<%= render "layouts/footer" %>