<h1>Item <%= @item.id %></h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Deposit</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <% flash.each do |key, value| %>
    <div class="success"><%= value %></div>
  <% end %>
  <br>
  <tr>
    <td><%= @item.name %></td>
    <td><%= @item.description %></td>
    <td><%= @item.deposit %></td>
  </tr>
</table>

<br>

<%= link_to "Show List", items_path %>
