<% if @transaction_state == 'created' %>
  <%= render :partial => "layouts/header", :locals => {:title => "Congratulations!", :subtitle => "Please check owner's personal information below to make contact." } %>


  <section class="ftco-section">

    <div class="container">
      <div class="row">
        <div class="col-sm col-md-6 col-lg-4">
        <div class="destination" style="padding-left: 2%;padding-left: 2%;">
          <h3>User <%= @owner.username %></h3>
          <div class="img img-2 d-flex justify-content-center align-items-center" style="height:400px;background-image: url('/assets/default_profile.jpg');"></div>
        </div>
        </div>
        <div class="col-md align-items-end">
          <h3>User Information</h3>
          <p><i class="fa fa-user-circle fa-fw w3-margin-right w3-large w3-text-teal"></i><%=@owner.firstname%> <%=@owner.lastname%></p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i><%=@owner.address%></p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i><%=@owner.user.email%></p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i><%=@owner.telephone%></p>
          <h3>Location</h3>
        </div>
      </div>
    </div>
  </section>
  <%= render "layouts/footer"%>

<% else %>

  <%= render :partial => "layouts/header", :locals => {:title => "Item"}%>

  <%= render "layouts/search_bar" %>

  <section class="ftco-section">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 sidebar order-md-last" style="padding-left: 2%;padding-right: 2%;">
          <div class="sidebar-wrap">
            <h3 class="heading mb-4">User <%= @owner.username %></h3>
            <div class="img img-2 d-flex justify-content-center align-items-center" style="height:300px;background-image: url('/assets/default_profile.jpg');"></div>
            <br>
            <h3>User Information</h3>
            <p><i class="fa fa-user-circle fa-fw w3-margin-right w3-large w3-text-teal"></i><%=@owner.firstname%> <%=@owner.lastname%></p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i><%=@owner.address%></p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i><%=@owner.user.email%></p>
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i><%=@owner.telephone%></p>
          </div>
        </div>

        <div class="col-lg-9">
          <div class="destination" style="padding-left: 10%;padding-right: 10%;">
            <h3><%= @item.name %></h3>
            <%= render :partial => "items/show_single_item", :locals => {:item => @item, :type => "show"}%>

            <div align="center">
              <% if ( @lat.blank? || @lon.blank? ) %>
                <% @lat = @owner.lat %>
                <% @lon = @owner.lon %>
              <% end %>
              <%= image_tag "https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/#{@lon},#{@lat},15/600x400?access_token=pk.eyJ1IjoiaGV5aXRzcmlzYWFhYSIsImEiOiJjam96eTRqMWswMnI0M3FwaTMyZW9zbjJsIn0.5a2PnnqR8pKh1MaG3A6uxQ",
              :class => "img-fluid rounded" %><br>
            </div>

          </div>

        </div>

      </div>
    </div>
  </section>


  <%= render "layouts/more_items"%>
  <br>

  <%= render "layouts/footer"%>

<% end %>
