<%= render :partial => "layouts/header", :locals => {:title => "Items"}%>

<section>
  <br>
  <br>
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section text-center fadeInUp ftco-animated">
        <h2 class="mb-4">
          <%= @items.count %> Items For User <%= current_user.person.username %>
        </h2>
      </div>
    </div>
  </div>
  <div class="parallax-img d-flex align-items-center" style="padding-left: 20%; padding-right: 20%;">

    <div class="destination">
        <div class="row">

          <% @items.each do |item| %>

            <div class="col-sm col-md-6 col-lg-4">
              <div class="destination">
                <%= render :partial => "items/show_single_item", :locals => {:item => item, :type => "user"}%>
              </div>
            </div>

          <% end %>

        </div>
    </div>
  </div>
  <br>
</section>

<%= render "layouts/footer"%>