<%= form_with model: @transaction, local: true do |form| %>

  <p>
    <%= form.label :item_id, "Item ID:" %><br>
    <%= form.number_field :item_id, min: 1, max: 1000000, step: 1%>
  </p>

  <p>
    <%= form.label :borrow_from_user_id, "Borrow from User ID:" %><br>
    <%= form.number_field :borrow_from_user_id, min: 1, max: 1000000, step: 1 %>
  </p>

  <p>
    <%= form.label :lend_to_user_id, "Lend to User ID:" %><br>
    <%= form.number_field :lend_to_user_id, min: 1, max: 1000000, step: 1 %>
  </p>

  <p>
    <%= form.label :start_date, "Start Date:" %><br>
    <%= form.date_field :start_date, value: Date.today, min: Date.today %>
  </p>

  <p>
    <%= form.label :due_date, "Due Date:" %><br>
    <%= form.date_field :due_date, value: Date.today + 1, min: Date.today + 1 %>
  </p>

  <p>
    <%= form.label :deposit, "Deposit:" %><br>
    <%= form.number_field :deposit, min: 0, max: 1000000, step: 0.01 %>
  </p>

  <p>
    <%= form.label :status, "Status:" %><br>
    <%= form.text_field :status %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
