<h1>This is where you rate things.</h1>

<%= form_with model: @rating, local: true do |form| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@rating.errors.count, "error") %> prohibited
        this rating from being saved:
      </h2>
      <ul>
        <% @rating.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :score, "Score:" %><br>
    <%= form.number_field :score, min: 1, max: 5, step: 1%>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

