<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Connect</h2>
          <p>Stay connected with us on our social media pages for more items that you'll love!</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
            <li class="fadeInUp ftco-animated"><a href="https://www.twitter.com/"><span class="icon-twitter"></span></a></li>
            <li class="fadeInUp ftco-animated"><a href="https://www.facebook.com/"><span class="icon-facebook"></span></a></li>
            <li class="fadeInUp ftco-animated"><a href="https://www.instagram.com/"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Information</h2>
          <ul class="list-unstyled">
            <li><%= link_to "About Us", home_about_path, class:"py-2 d-block"%></li>
            <li><%= link_to "Terms of Service", home_terms_of_service_path, class:"py-2 d-block"%></li>
            <li><%= link_to "Privacy Policy", home_privacy_policy_path, class:"py-2 d-block"%></li>
            <li><%= link_to "Contact Us", home_contact_path, class:"py-2 d-block"%></li>
            <li><%= link_to "Site Map", home_sitemap_path, class:"py-2 d-block"%></li>
            <li><%= link_to "FAQ", home_faq_path, class:"py-2 d-block"%></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Map</h2>
          <div class="block-23 mb-3">
            <ul>
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11545.168943821136!2d-79.3956564!3d43.6628917!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8d1d9bb6765a76f7!2sUniversity+of+Toronto+-+St.+George+Campus!5e0!3m2!1sen!2sca!4v1543183750677" width="330" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright @2018 All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
  </div>
</footer>
