<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <%= link_to "LendLord", root_path, class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><%= link_to "Lend", new_item_path, class:"nav-link"%></li>
        <li class="nav-item"><%= link_to "Sign Up", signup_path, class:"nav-link"%></li>
        <li class="nav-item"><%= link_to "Log In", login_path, class:"nav-link"%></li>
      </ul>
    </div>
  </div>
</nav>

<div class="hero-wrap js-fullheight" style="height: 600px; background-image: url('/assets/bg_1.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true" style="padding-top: 150px">
      <div class="col-md-9 text-center" data-scrollax=" properties: { translateY: '70%' }">
        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
          <% if defined?title %>
            <%= title %>
          <% end %>
        </h1>
      </div>
    </div>
  </div>
</div>