<!DOCTYPE html>
<html>
    <head>
        <title>Lendlord</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag "/assets/icomoon.css" %>

        <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Abril%20Fatface" %>


        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

    <section style="z-index: 9999 !important; position:fixed; top: 5%; left: 30%;right: 30%;">
        <div class="container">
            <% flash.each do |message_type, message| %>
                <div id="hideMe" class="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
        </div>
    </section>

    <%= yield %>

    </body>
</html>
